<button id="paymentDeposit" class="ui green button">DEPOSIT</button>

<div id="depositModal" class="ui modal">
    <div class="content" style="text-align: center">
        <h2 class="ui header">DEPOSIT COINS</h2>
        <p>You can deposit more coins into your account to play the MULTIPLY game.</p>
        <h4>YOUR ETH ADDRESS</h4>
        <p>Send eth to the address below to top up your account balance.</p>
        <div id="btc-address" class="ui yellow compact message"><%= req.user.wallets[0].address %></div>
        <div id="btc-qr-code-canvas"></div>
        <p>Deposits will be credited after 1 confirmation.</p>
        <p>
            Please click on PROFILE to change your password to a secure one if you plan on depositing significant amounts.
            Also, please do not re-use the same password on any other websites.
        </p>
    </div>
</div>
