<div id="homepage-title" style="text-align: left">
  <h2>WIN FREE ILU COINS EVERY HOUR!</h2>
  <div class="item-list">
    <div class="ui list">
      <div class="item">
        <i class="check circle large icon"></i>
        <div class="content">
          <span class="award-title">WIN UP TO $200</span> IN FREE BITCOINS
        </div>
      </div>

      <div class="item">
        <i class="check circle large icon"></i>
        <div class="content">
          <span class="award-title">MULTIPLY YOUR COINS</span> PLAYING HI-LO
        </div>
      </div>

      <div class="item">
        <i class="check circle large icon"></i>
        <div class="content">
          <span class="award-title">WIN HI-LO JACKPOTS</span> UP TO 1 BITCOIN
        </div>
      </div>

      <div class="item">
        <i class="check circle large icon"></i>
        <div class="content">
          <span class="award-title">FREE WEEKLY LOTTERY</span> WITH BIG PRIZES
        </div>
      </div>

      <div class="item">
        <i class="check circle large icon"></i>
        <div class="content">
          <span class="award-title">WIN A LAMBORGHINI</span> WITH GOLDEN TICKETS
        </div>
      </div>

      <div class="item">
        <i class="check circle large icon"></i>
        <div class="content">
          <span class="award-title">COIN SAVINGS ACCOUNT</span> WITH DAILY INTEREST
        </div>
      </div>

      <div class="item">
        <i class="check circle large icon"></i>
        <div class="content">
          <span class="award-title">50% REFERRAL COMMISSIONS</span> FOR LIFE
        </div>
      </div>
    </div>
  </div>
  <button class="ui yellow fluid large button">PLAY NOW</button>
</div>
