<div id="homeMenu" class="ui inverted fixed menu">
    <div class="header item">FREEILU</div>
    <div class="right menu">
        <a class="item" href="/free">FREE BTC</a>
        <a class="item" href="/multiple-coin" style="color:#21ba45">MULTIPLY BTC</a>
        <a class="item" href="/betting">BETTING</a>
        <a class="item" href="/golden-ticket" style="color:#fbbd08">GOLDEN TICKET</a>
        <a class="item" href="/earn">EARN BTC</a>
        <a class="item" href="/lottery">LOTTERY</a>
        <a class="item" href="/contest">CONTEST</a>
        <a class="item" href="/referral">REFERRAL</a>
        <a class="item">MORE</a>
        <a class="item active teal currentCoin"><%= req.user.current_coin %> BTC</a>
        <a class="item" href="auth/logout">
            <i class="power off yellow large icon"></i>
        </a>
    </div>
</div>
