<div class="ui inverted menu">
    <div class="header item">FREEBITCO</div>
    <div class="right menu">
        <a class="item">HOME</a>
        <a class="item">FEATURES</a>
        <a class="item">BITCOIN</a>
        <a class="item" href="/auth/register">SIGN UP</a>
        <a class="item" href="/auth/login">LOGIN</a>
    </div>
</div>
