<body>
<%- partial ('../pages/partials/menu_with_login.ejs') %>

<div id="bettingPage" class="container">
  <div class="section payment">
    <div class="payment-button">
      <%- partial ('../pages/partials/deposit.ejs') %>
      <%- partial ('../pages/partials/withdraw.ejs') %>
    </div>
  </div>

  <div class="section" style="margin-top:30px">
    <h3 class="ui red header">Bet on the latest events against other FreeBitco.in users and win a share of the prize pool if you pick the winner!</h3>
    <h3 class="ui green header">Early bets have a higher weight and will get a bigger share of the prize pool!</h3>
    <h3>Get 1 free lottery ticket and 1 reward points for every 0.00000500 BTC that you bet!</h3>
    <p>Get 1 free golden ticket for every 0.00500000 BTC that you bet!</p>
    <p>We also pay you 0.40% referral commissions on all bets made by your referrals!</p>
    <h3>All bets made here will count towards our $32,500 wagering and referral contest!</h3>
    <div class="ui form" style="margin:0 auto;max-width: 400px">
      <div class="field">
        <select class="ui dropdown">
          <option value="">SELECT CATEGORY</option>
          <option value="AF">All</option>
          <option value="AX">New</option>
          <option value="AL">Ending soon</option>
        </select>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="ui grid">
      <div class="three column row">
        <div class="column">
          <div class="ui card">
            <div class="content">
              UEFA CHAMPIONS LEAGUE - QUARTER FINALS - ATALANTA VS PSG
            </div>
            <div class="image champion">
              <img src="https://sirv.freebitco.in/1596033023_GNJKGmYt.png">
            </div>
            <div class="content">
              Which team will win the Quarter-Final fixture between Atalanta and PSG?
            </div>
            <div class="extra content">
              <div style="max-width:600px;margin:0 auto">
                <div class="ui top attached message" style="background:#fcbc09;color:#fff">
                  PRIZE POOL
                </div>
                <div class="ui bottom attached message">
                  <h2>
                    <i class="ui bitcoin icon"></i>
                    0.87263549
                  </h2>
                </div>
              </div>
              <div style="max-width:600px;margin:10px auto 0">
                <div class="ui top attached primary message">
                  ENDING IN
                </div>
                <div class="ui bottom attached message">
                  <div class="date_count_down" style="margin: 0 auto">
                    <div class="ui statistics">
                      <div class="red statistic">
                        <div class="value">1</div>
                        <div class="label">Days</div>
                      </div>
                      <div class="orange statistic">
                        <div class="value">3</div>
                        <div class="label">Hours</div>
                      </div>
                      <div class="yellow statistic">
                        <div class="value">29</div>
                        <div class="label">Minutes</div>
                      </div>
                      <div class="yellow statistic">
                        <div class="value">5</div>
                        <div class="label">Seconds</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui bottom attached green button">
              BET NOW
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui card">
            <div class="content">
              UEFA CHAMPIONS LEAGUE - QUARTER FINALS - RB LEIPZIG VS ATLETICO MADRID
            </div>
            <div class="image champion">
              <img src="https://sirv.freebitco.in/1596033167_hYNyA20T.png">
            </div>
            <div class="content">
              Which team will win the Quarter-Final fixture between RB Leipzig and Atletico Madrid?
            </div>
            <div class="extra content">
              <div style="max-width:600px;margin:0 auto">
                <div class="ui top attached message" style="background:#fcbc09;color:#fff">
                  PRIZE POOL
                </div>
                <div class="ui bottom attached message">
                  <h2>
                    <i class="ui bitcoin icon"></i>
                    0.56283746
                  </h2>
                </div>
              </div>
              <div style="max-width:600px;margin:10px auto 0">
                <div class="ui top attached primary message">
                  ENDING IN
                </div>
                <div class="ui bottom attached message">
                  <div class="date_count_down" style="margin: 0 auto">
                    <div class="ui statistics">
                      <div class="red statistic">
                        <div class="value">0</div>
                        <div class="label">Days</div>
                      </div>
                      <div class="orange statistic">
                        <div class="value">8</div>
                        <div class="label">Hours</div>
                      </div>
                      <div class="yellow statistic">
                        <div class="value">28</div>
                        <div class="label">Minutes</div>
                      </div>
                      <div class="yellow statistic">
                        <div class="value">7</div>
                        <div class="label">Seconds</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui bottom attached green button">
              BET NOW
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui card">
            <div class="content">
              BITCOIN PRICE - AUGUST
            </div>
            <div class="image champion">
              <img src="https://sirv.freebitco.in/1583317557_TMP3YcTX.png">
            </div>
            <div class="content">
              What will the Bitcoin price be at 23.59 UTC on the 31st of August 2020?
            </div>
            <div class="extra content">
              <div style="max-width:600px;margin:0 auto">
                <div class="ui top attached message" style="background:#fcbc09;color:#fff">
                  PRIZE POOL
                </div>
                <div class="ui bottom attached message">
                  <h2>
                    <i class="ui bitcoin icon"></i>
                    0.67321660
                  </h2>
                </div>
              </div>
              <div style="max-width:600px;margin:10px auto 0">
                <div class="ui top attached primary message">
                  ENDING IN
                </div>
                <div class="ui bottom attached message">
                  <div class="date_count_down" style="margin: 0 auto">
                    <div class="ui statistics">
                      <div class="red statistic">
                        <div class="value">2</div>
                        <div class="label">Days</div>
                      </div>
                      <div class="orange statistic">
                        <div class="value">2</div>
                        <div class="label">Hours</div>
                      </div>
                      <div class="yellow statistic">
                        <div class="value">33</div>
                        <div class="label">Minutes</div>
                      </div>
                      <div class="yellow statistic">
                        <div class="value">1</div>
                        <div class="label">Seconds</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui bottom attached green button">
              BET NOW
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="ui warning message">
      <div class="content">
        <p>Why not try to multiply your bitcoins up to 4,750 times by playing a provably fair HI-LO game!</p>
      </div>
    </div>
  </div>
</div>
</body>
