<body>
<%- partial ('../pages/partials/menu_with_login.ejs') %>

  <div id="freeBitcoinPage" class="container">
    <div class="section">
      <button class="ui green button">DEPOSIT</button>
      <button class="ui yellow button">WITHDRAW</button>
    </div>

    <div class="section" style="margin:30px 0">
      <h3 class="ui red header">Participate in our monthly wagering and referral contest with $32,500 in total prizes!</h3>
      <h3>To win the wagering contest with $21,600 in total prizes, you must rank in the top 10 users by wagering volume for the month and to win the referral contest with $10,900 in total prizes, you must rank in the top 10 users by combined wagering volume of your referrals for the month.</h3>
      <p>The contest will start at the beginning of the month at 00:00 UTC and end on the last day of the month at 23:59 UTC. For the wagering contest, all bets made in MULTIPLY BTC, MULTIPLY BTC jackpots and BETTING will qualify. For the referral contest, all bets that your referrals make in MULTIPLY BTC, MULTIPLY BTC jackpots and BETTING will qualify. The top 10 users with the highest wagering volume for the month will win the wagering contest and the top 10 users with the highest combined wagering volume of their referrals will win the referral contest.</p>
      <p>The prizes will be paid out in BTC converted from USD at the current exchange rate after the contest ends. You will receive an email notifying you if you have won a prize and the prize will be credited directly to your freeilu.com account and can be withdrawn anytime</p>
    </div>

    <div class="section">
      <p>Special banners to promote this contest can be found below the leaderboard tables.</p>
      <h3>CONTEST ENDS IN</h3>
      <div class="date_count_down" style="width:320px; margin: 0 auto">
        <div class="ui statistics">
          <div class="red statistic">
            <div class="value">20</div>
            <div class="label">Days</div>
          </div>
          <div class="orange statistic">
            <div class="value">8</div>
            <div class="label">Hours</div>
          </div>
          <div class="yellow statistic">
            <div class="value">28</div>
            <div class="label">Minutes</div>
          </div>
          <div class="yellow statistic">
            <div class="value">7</div>
            <div class="label">Seconds</div>
          </div>
        </div>
      </div>

      <div class="personal_stats" style="max-width:600px; margin:15px auto">
        <div class="ui top attached message" style="background:#fcbc09;color:#fff">
          YOUR PERSONAL STATS
        </div>

        <table class="ui bottom attached table center aligned">
          <thead>
          <tr>
            <th>WAGERED</th>
            <th>REFERRAL WAGER</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <i class="bitcoin icon"></i>
              0.00000000
            </td>
            <td>
              <i class="bitcoin icon"></i>
              0.00000000
            </td>
          </tr>
          </tbody>
        </table>

        <h1>WAGERING CONTEST</h1>
        <table class="ui inverted teal table center aligned">
          <thead>
          <tr>
            <th>#</th>
            <th>USER</th>
            <th>WAGERED</th>
            <th>PRIZE</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>12611109</td>
            <td><i class="bitcoin icon"></i>0.00000000</td>
            <td>$ 10,000</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="section" style="margin-top:30px">
      <p>The leaderboards above are only updated for every 0.00000500 BTC that you or your referred users wager. If lower amounts are wagered, these are recorded in our database but they are only updated at increments of 0.00000500 BTC wagered by each individual user.</p>
      <h3>PREVIOUS CONTEST WINNERS</h3>
      <div>
        <div class="ui buttons">
          <button class="ui button">OLDER</button>
          <div class="or"></div>
          <button class="ui positive button">NEWER</button>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="personal_stats" style="max-width:600px; margin:15px auto">
        <div class="ui top attached message" style="background:#fcbc09;color:#fff">
          CONTEST ROUND 25 WINNERS
        </div>

        <div class="ui attached segment">
          <div class="ui two column grid">
            <div class="column">WAGERING</div>
            <div class="column">REFERRAL</div>
          </div>
        </div>

        <table class="ui bottom attached table center aligned">
          <thead>
          <tr>
            <th>USERID</th>
            <th>AMOUNT WON</th>
            <th>WAGERED</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <i class="bitcoin icon"></i>
              0.00000000
            </td>
            <td>
              <i class="bitcoin icon"></i>
              0.00000000
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="section">
      <div style="max-width:600px;margin:20px auto">
        <div class="ui top attached message" style="background:#54c8ff;color:#fff">
          CONTEST BANNERS
        </div>
        <table class="ui bottom attached table center aligned">
          <tbody>
          <tr>
            <td style="width:20%;min-width:100px">
              720x168
            </td>
            <td>
              <div class="ui fluid input">
                <input type="text" value="https://static1.freeilu.com/banners/contest_728_90.gif">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width:20%;min-width:100px">
              468 X 60
            </td>
            <td>
              <div class="ui fluid input">
                <input type="text" value="https://static1.freeilu.com/banners/contest_468_60.gif">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width:20%;min-width:100px">
              160 X 600
            </td>
            <td>
              <div class="ui fluid input">
                <input type="text" value="https://static1.freeilu.com/banners/contest_160_600.gif">
              </div>
            </td>
          </tr>
          <tr>
            <td style="width:20%;min-width:100px">
              300 X 250
            </td>
            <td>
              <div class="ui fluid input">
                <input type="text" value="https://static1.freeilu.com/banners/contest_300_250.gif">
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
