<body>
<%- partial ('../pages/partials/menu_with_login.ejs') %>

  <div id="freeILUPage" class="container">
    <div class="section payment">
      <div class="payment-button">
        <%- partial ('../pages/partials/deposit.ejs') %>
        <%- partial ('../pages/partials/withdraw.ejs') %>
      </div>
    </div>

    <div class="section" style="margin-top:30px">
      <h3>Your FreeILU.com account is now also a ilu savings wallet!</h3>
      <h3 class="ui red header">Receive compounded daily interest on any balance that you hold in your FreeILU.com account, without doing anything.</h3>
      <p>All you need to do is maintain a balance of at least 30,000 satoshi (0.0003 ILU) in your FreeILU.com account and we shall pay you compounded interest on your full balance everyday. There is no lock-in period to earn interest (you start earning interest right from the first day!) and your balance can be withdrawn any time you wish. Treat your FreeILU.com account like an instant-access savings account to hold your excess ILUs and earn passive interest on your account balance everyday.</p>
      <h3>We also pay you 25% referral commissions on any interest earned by your referrals!</h3>
    </div>

    <div class="section">
      <div style="max-width:600px;margin:0 auto">
        <div class="ui top attached message" style="background:#fcbc09;color:#fff">
          ANNUAL INTEREST RATE
        </div>
        <div class="ui bottom attached message"><h2>4.08%</h2></div>
      </div>
      <div style="margin:15px 0 30px;font-size: 14px">
        Daily interest will be calculated at a random time everyday @ 0.0109589% per day and rounded down to the nearest satoshi.
      </div>
      <div style="max-width:600px;margin:0 auto">
        <div class="ui top attached message" style="background:#22ba45;color:#fff">
          YOUR TOTAL INTEREST EARNED
        </div>
        <div class="ui bottom attached message"><h2>0 ILU</h2></div>
      </div>
    </div>

    <div id="interest-calculator" class="section">
      <div style="max-width:600px;margin:20px auto">
        <div class="ui top attached message" style="background:#54c8ff;color:#fff">
          INTEREST CALCULATOR
        </div>
        <div class="ui bottom attached message">
          <div class="ui middle aligned divided list">
            <div class="item">
              <div class="right floated content">
                <div class="ui input">
                  <input type="text">
                </div>
              </div>
              <div style="line-height: 42px">
                BALANCE
              </div>
            </div>
            <div class="item">
              <div class="right floated content">
                <div class="ui input">
                  <input type="text" disabled>
                </div>
              </div>
              <div style="line-height: 42px">
                DAILY INTEREST
              </div>
            </div>
            <div class="item">
              <div class="right floated content">
                <div class="ui input">
                  <input type="text" disabled>
                </div>
              </div>
              <div style="line-height: 42px">
                MONTHLY INTEREST
              </div>
            </div>
            <div class="item">
              <div class="right floated content">
                <div class="ui input">
                  <input type="text" disabled>
                </div>
              </div>
              <div style="line-height: 42px">
                YEARLY INTEREST
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="ui yellow message">
        Bet on the latest events and win big prizes!
      </div>
    </div>

    <div class="section" style="margin-top:30px">
      <h1>ILU SAVINGS FAQ</h1>
      <h3>When is the daily interest credited?</h3>
      <p>We calculate the interest on your account balance daily and credit it at a random time every day. If the interest would be credited at a fixed time everyday, people would be able to game the system by depositing before the credit time and then withdrawing after they receive their interest. To avoid this, the daily interest is calculated and credited at a random time everyday.</p>
      <h3>How do you make money to pay us interest?</h3>
      <p>When you hold money in your FreeILU.com account, we split it into 3 parts - the first part is used to cover user withdrawals, the second part is used to bankroll our MULTIPLY ILU game and the third part is used to expand our ILU mining operation (which is currently 9.065Petahashes or 0.007% of the total hashpower of the ILU network). We make a profit and assume the full risks of our businesses and in return for you saving your money with us, we give you a risk-free fixed rate of return.</p>
      <p>Below, we have signed a message using our ilu address that is used to collect payments from our ILU mining operation. This message can be verified on any ILU client or here to provide proof that we actually mine ILU.</p>

      <div style="max-width:600px;margin:20px auto">
        <div class="ui top attached message" style="background:#54c8ff;color:#fff">
          PROOF OF MINING
        </div>
        <div class="ui bottom attached message" style="background: #fdfdfd">
          <div style="max-width:600px;margin:20px auto">
            <div class="ui top attached message">
              <h3>ILU ADDRESS</h3>
            </div>
            <div class="ui bottom attached message">
              <div class="ui fluid input">
                <input type="text" value="1EcH7pHYTHLo3cbdXfkf6e6Zh5JzCPGumc ">
              </div>
            </div>
          </div>
          <div style="max-width:600px;margin:20px auto">
            <div class="ui top attached message">
              <h3>MESSAGE</h3>
            </div>
            <div class="ui bottom attached message">
              <div class="ui fluid input">
                <input type="text" value="This is the FreeILU.com mining address where payouts from our mining operation are received.">
              </div>
            </div>
          </div>
          <div style="max-width:600px;margin:20px auto">
            <div class="ui top attached message">
              <h3>SIGNATURE</h3>
            </div>
            <div class="ui bottom attached message">
              <div class="ui fluid input">
                <input type="text" value="HB7xbLIWPlTn5Vx3eCY1eAfib8VSahVd6ER1NyBEBI0BJANEEvXi6CuNHS8lRXzhkmOTpKPlaeOhNoCT60mZPa8=">
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>Please do not send any deposits to our mining address. To deposit ILUs to your account, please use the deposit button at the top of the page.</p>
      <h3>Is there a lock-in period or minimum investment period before I start earning interest?</h3>
      <p>No! You start earning interest from the first day itself. There is no lock-in period, you can withdraw your ILUs anytime you wish by using the WITHDRAW button at the top of the page. We always keep enough reserves to satisfy all withdrawals.</p>
      <h3>Can I earn referral commissions on interest earned by my referrals?</h3>
      <p>Yes! We pay you a 25% commission on any interest earned by your referrals. If your referral gets 100 satoshi in interest for a day, you will get 25 satoshi credited to your account.</p>
      <h3>Will the interest rate be fixed forever or can it change?</h3>
      <p>We may change the interest rate in the future if circumstances change. However, we shall communicate all rate changes at least 30 days in advance via the website and our twitter account (https://twitter.com/freebitco).</p>
      <h3>How can I trust you with my money?</h3>
      <p>We have been in business since 2013 and are one of the most popular ILU websites (check our Alexa rank here). Our users have deposited thousands of ILUs and we have paid out tens of thousands of ILUs over the years. We have also published proof of our mining operation above which can be used to monitor the mining payments we receive. We would recommend that you start saving small amounts first until we have earned your trust after which you can save larger amounts with us if you feel comfortable doing so.</p>
      <h3>How can I keep my account secure to protect my savings?</h3>
      <p>It is extremely important that you secure your account if you decide to hold a significant balance with us. Change your account password to a strong random one with atleast 15 characters and never ever share that password with anyone or re-use it with another website or service. Then activate 2-factor authentication and write down the secret key on a piece of paper to back it up since we do not reset 2-factor authentication under any circumstances (you lose your phone, reset it etc.). Both of these can be done by accessing the PROFILE page from the menu above.</p>
      <h3>How do you store ILUs securely?</h3>
      <p>We use a combination of hot wallets, hardware wallets (Trezor) and BIP38 encrypted paper wallets to store ILUs. At no time do we keep more than 5% of our total ILUs in the hot wallet which is used for making payouts. The hardware wallet is used as a "warm" wallet and ILUs are transferred from it to the hot wallet as required. Our paper wallets serve as our "cold" storage with the wallets generated on an air-gapped computer running Tails OS. Our hardware and paper wallets are also secured against physical theft as the hardware wallet requires a pin code and encryption password to access and the private keys in the paper wallet are encrypted which means that the coins in the wallet cannot be accessed without having both the private key and the encryption password. We also keep physical copies of the cold storage wallets at multiple locations.</p>
      <h3>Can I opt-out from receiving interest on my account balance?</h3>
      <p>Sure, you can do so under the DISABLE INTEREST option in the PROFILE page.</p>
    </div>
  </div>
</body>
