<body>
<%- partial ('../pages/partials/menu_with_login.ejs') %>

<div id="referral-page" class="container">
  <div class="section payment">
    <div class="payment-button">
      <%- partial ('../pages/partials/deposit.ejs') %>
      <%- partial ('../pages/partials/withdraw.ejs') %>
    </div>
  </div>

  <div id="faqPage" class="section" style="margin:30px 0">
    <h2>WEBSITE FAQ</h2>
    <div class="aq-section">
      <p class="faq_question">When will I get paid if I have Auto Withdraw enabled?</p>
      <p class="faq_answer">If you have Auto-Withdraw enabled in your account, your account balance will go into PENDING on Sunday (if it is more than the min. withdraw amount) and you will be able to see this under PENDING PAYOUT on the FREE BTC page. The Bitcoins will be sent to your Bitcoin wallet soon after. You will receive an email notifying you of the payment if you have an email address associated with your account. If you wish to know the exact time when your balance will go into pending, click on the button that says WITHDRAW in the FREE BTC page and then click on AUTO and you will see a timer counting down to the payout time.</p>
    </div>

    <div class="aq-section">
      <p class="faq_question">How do I enable Auto Withdraw?</p>
      <p class="faq_answer">By clicking on the button that says WITHDRAW in the FREE BTC page, then clicking on AUTO and checking the box next to AUTO WITHDRAW. If you enable auto-withdraw after the countdown timer has run out for the current payout cycle, you will receive your payment the next week.</p>
    </div>

    <div class="aq-section">
      <p class="faq_question">When will I get paid if I have requested an Instant Withdraw?</p>
      <p class="faq_answer">If you request an instant withdrawal, the Bitcoins will be sent to your wallet within 15 minutes of you initiating the request.</p>
    </div>

    <div class="aq-section">
      <p class="faq_question">How can I change my Bitcoin address or Email address?</p>
      <p class="faq_answer">By clicking on the button that says PROFILE in the top menu. You will be able to change your email address only if the email that is currently attached to your account is invalid or it is bouncing our emails back.</p>
    </div>

    <div class="aq-section">
      <p class="faq_question">Where can I see my referral link or my referrals?</p>
      <p class="faq_answer">By clicking on the button that says REFER in the top menu.</p>
    </div>

    <div class="aq-section">
      <p class="faq_question">How do I refer my friends?</p>
      <p class="faq_answer">Share your referral link with your friends and ask them to visit it and create an account. On doing so, they will be automatically added as your referral and you will get 50% of their free btc winnings as commission! Nothing will be deducted from their account, we pay the 50% out of our pocket. You will also receive 1 free ticket to our weekly lottery every time your friend plays a free roll! If you do not know how to get your referral link, please see the question above.</p>
    </div>

    <div class="aq-section">
      <p class="faq_question">I have lost/wish to reset my password?</p>
      <p class="faq_answer">Please go to the login page and click on the link that says Forgot Password in the login box.</p>
    </div>

    <div class="aq-section">
      <p class="faq_question">Why does the amount of Bitcoins that you can win, keep changing?</p>
      <p class="faq_answer">The amount of bitcoins that you can win with FREE BTC depends on the current bitcoin price and the biggest prize is fixed at US$200 and the other prizes in proportion to it. So, when the price of a bitcoin goes down, the reward amount calculated in bitcoins goes up and the other way round is also true. So, regardless of the current bitcoin price, you have a fair chance of winning US$200 in bitcoins on each roll.</p>
    </div>

    <div class="aq-section">
      <p class="faq_question">Can you reverse a payment that has already been sent?</p>
      <p class="faq_answer">Unfortunately bitcoin payments are irreversible and so once a payment has been sent, we have no way of getting it back. You should ensure that the correct withdrawal address is specified in the PROFILE page before requesting a payment or enabling auto-withdraw.</p>
    </div>

    <div class="aq-section">
      <p class="faq_question">Where can I check my activity on this website?</p>
      <p class="faq_answer">By clicking on STATS in the above menu and then on PERSONAL STATS.</p>
    </div>

    <div class="aq-section">
      <p class="faq_question">How can I keep my account secure?</p>
      <p class="faq_answer">By using a strong password, not re-using the same password on any other website and not sharing your password with anybody else. We recommend using a password manager like LastPass to create and store your passwords. If you do not use these security practices and your account gets hacked, we shall not be able to help you.</p>
    </div>

  </div>


</div>
</body>
