<body onload="freeCoinCountdown()">
<%- partial ('../pages/partials/menu_with_login.ejs', {data: "khanh"}) %>

<div id="freeBitcoinPage" class="container">
  <div class="section">
    <button class="ui green button">DEPOSIT</button>
    <button class="ui yellow button">WITHDRAW</button>
  </div>
  <div class="section">
    <div class="ui icon positive message">
      <i class="trophy icon"></i>
      <div class="content">
        <p>Play <a href="#">MULTIPLY ILU</a> or <a href="#">BET ON EVENTS</a> and you could win a <a href="#">Lamborghini Huracan</a>!</p>
      </div>
    </div>
    <div class="ui icon info message">
      <i class="gem icon"></i>
      <div class="content">
        <p>Earn 4.08% annual interest on your FreeILU.com balance! <a href="#">Click here to read more</a>.</p>
      </div>
    </div>
    <h4 class="ui blue header"><a href="#">THIS GAME IS PROVABLY FAIR!</a></h4>
    <h4 class="ui blue header"><a href="#">REQUIREMENTS TO UNLOCK BONUSES</a></h4>
  </div>
  <div class="section" style="margin-top:30px">
    <h4>Please fill in the captcha below and click the ROLL button to WIN UP TO $200 IN FREE ILUs EVERY HOUR!</h4>
    <div class="ui yellow message">
      <p>Play <a href="#">MULTIPLY ILU</a>, <a href="#">BET ON EVENTS</a> or buy <a href="#">lottery tickets</a> to increase your</p>
      <p>FREE ILU rewards by up to <a class="ui teal label">+0.00000418 ILU</a><i class="info icon"></i></p>
      <p><strong>4.6429%</strong> achieved towards the next <a class="ui teal label">+0.00000022 ILU</a> bonus!</p>
    </div>
    <table class="ui inverted blue celled table" style="width:300px; margin:0 auto">
      <thead>
      <tr>
        <th>LUCKY NUMBER</th>
        <th>PAYOUT</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>0 - 9885</td>
          <td>0.00000022 ILU</td>
        </tr>
        <tr>
          <td>9886 - 9985</td>
          <td>0.00000218 ILU</td>
        </tr>
        <tr>
          <td>9986 - 9993</td>
          <td>0.00002184 ILU</td>
        </tr>
        <tr>
          <td>9994 - 9997</td>
          <td>0.00021840 ILU</td>
        </tr>
        <tr>
          <td>9998 - 9999</td>
          <td>0.00218399 ILU</td>
        </tr>
        <tr>
          <td>10000</td>
          <td>0.02183988 ILU</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="section showCountdown hidden">
    <div class="ui checkbox">
      <input type="checkbox" name="example">
      <label>Play sound when timer runs out (TEST SOUND)</label>
    </div>

    <div class="expiredTime hidden"><%= data.expiredTime %></div>

    <div class="date_count_down" style="max-width:400px; margin: 15px auto">
      <div class="ui four statistics">
        <div class="red statistic">
          <div class="value countdownDays"></div>
          <div class="label">Days</div>
        </div>
        <div class="orange statistic">
          <div class="value countdownHours"></div>
          <div class="label">Hours</div>
        </div>
        <div class="yellow statistic">
          <div class="value countdownMinutes"></div>
          <div class="label">Minutes</div>
        </div>
        <div class="yellow statistic">
          <div class="value countdownSeconds"></div>
          <div class="label">Seconds</div>
        </div>
      </div>
    </div>
    <p>before you can play for free again.</p>
    <div class="ui yellow message" style="max-width: 600px;margin: 0 auto">
      Why not try to multiply your ILU up to 4,750 times by playing a provably fair HI-LO game!
    </div>
  </div>

  <div class="rollResponse" style="margin:15px auto; max-width: 600px"></div>

  <div class="section showRoll hidden">
    <form id="requestRoll">
      <div class="g-recaptcha" data-sitekey="6LetQcIZAAAAAI_7HFSamc53qiygzSnozw18a6VJ"></div>
      <button type="submit" class="positive ui facebook button">
        <i class="redo icon"></i>
        ROLL!
      </button>
      <!--      <input type="submit" value="ROLL!">-->
    </form>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>

  </div>

</div>
</body>
