<body>
<%- partial ('../pages/partials/menu_with_login.ejs') %>

  <div id="goldenTicketPage" class="container">
    <div class="section">
      <button class="ui green button">DEPOSIT</button>
      <button class="ui yellow button">WITHDRAW</button>
    </div>

    <div class="section" style="margin-top:30px">
      <img class="ui fluid image" src="https://sirv.freebitco.in/1588206672_UtVElxC0.jpg">
      <h2>A LUCKY WINNER WILL DRIVE HOME A LAMBORGHINI <br />WHEN THIS COUNTDOWN ENDS!</h2>
      <div class="date_count_down" style="width:320px; margin: 0 auto">
        <div class="ui statistics">
          <div class="red statistic">
            <div class="value">20</div>
            <div class="label">Days</div>
          </div>
          <div class="orange statistic">
            <div class="value">8</div>
            <div class="label">Hours</div>
          </div>
          <div class="yellow statistic">
            <div class="value">28</div>
            <div class="label">Minutes</div>
          </div>
          <div class="yellow statistic">
            <div class="value">7</div>
            <div class="label">Seconds</div>
          </div>
        </div>
      </div>
    </div>

    <div class="section step-by-step">
      <h2>HOW TO WIN</h2>
      <div class="ui grid">
        <div class="three column row">
          <div class="column">
            <div>
              <div class="image champion">
                <img src="https://sirv.freebitco.in/1572662552_fw9g8rpx.png">
              </div>
              <h3 class="ui red header">PLAY THE GAME</h3>
              <p>Head over to MULTIPLY BTC or BETTING and play the game.</p>
            </div>
          </div>

          <div class="column">
            <div>
              <div class="image champion">
                <img src="https://sirv.freebitco.in/1572662569_agbRyLNe.png">
              </div>
              <h3 class="ui red header">WAGER YOUR BEST</h3>
              <p>You get a FREE Golden Ticket with your winnings every time you wager or bet a total of 500,000 satoshi (0.00500000 BTC).</p>
            </div>
          </div>

          <div class="column">
            <div>
              <div class="image champion">
                <img src="https://sirv.freebitco.in/1572662587_p5nWnSmz.png">
              </div>
              <h3 class="ui red header">COLLECT GOLDEN TICKETS</h3>
              <p>Scroll down to buy a Golden Ticket for 25,000 satoshi (0.00025000 BTC). You can collect multiple tickets for a higher chance of winning.</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="section">
      <table class="your-ticket ui table center aligned">
        <thead>
        <tr>
          <th>YOUR TICKETS</th>
          <th>TOTAL TICKETS</th>
          <th>WIN CHANCE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            0
          </td>
          <td>
            23,929,220
          </td>
          <td>
            0.00000000%
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="section">
      <div style="max-width:600px;margin:20px auto">
        <div class="buy-ticket ui top attached message">
          BUY GOLDEN TICKETS
        </div>
        <div class="ui bottom attached message">
          <div class="ui middle aligned divided list">
            <div class="item">
              <div class="right floated content">
                <div class="ui input">
                  <input type="text">
                </div>
              </div>
              <div style="line-height: 42px">
                NO. OF TICKETS
              </div>
            </div>
            <div class="item">
              <div class="right floated content">
                <div class="ui input">
                  <input type="text" disabled>
                </div>
              </div>
              <div style="line-height: 42px">
                PRICE PER TICKET
              </div>
            </div>
            <div class="item">
              <div class="right floated content">
                <div class="ui input">
                  <input type="text" disabled>
                </div>
              </div>
              <div style="line-height: 42px">
                TOTAL AMOUNT
              </div>
            </div>
            <div class="item">
              <button class="ui green button" style="margin-top: 10px;width: 100px;">BUY</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div style="max-width:600px;margin:20px auto">
        <h3>PREVIOUS ROUND WINNERS</h3>
        <div class="ui segments">
          <div class="blue-header ui segment">
            ROUND 2
          </div>
          <div class="ui segment">
            TOTAL TICKETS: 5,580,335
          </div>
          <div class="ui horizontal segments">
            <table class="ui table center aligned">
              <thead>
              <tr>
                <th>USER ID</th>
                <th>AMOUNT WON</th>
                <th>USER TICKETS</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  13562178
                </td>
                <td>
                  <i class="ui bitcoin icon"></i>
                  24.71708210
                </td>
                <td>
                  201,566
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h2>TERMS & CONDITIONS</h2>
      <p>The golden ticket contest will run for 6 months. After the contest ends, a provably fair lottery drawing will be conducted to pick the lucky winner. The lucky winner will win a Lamborghini Huracan LP 580-2 with delivery to the USA. If the winner wants the car in any other country, they will need to pay the excess shipping costs and any applicable taxes or fees. The winner can also opt to receive US$200,000 in lieu of the car, paid in bitcoins using the exchange rate after the lottery drawing has been done. The winner of the lottery round must claim their prize within 180 days of the prize being drawn. To read more about the exact details of the provably fair lottery drawing, please click here.</p>
    </div>

  </div>
</body>
