<body>
<%- partial ('../pages/partials/menu_with_login.ejs') %>

<div id="multipleCoinPage" class="container">
  <div class="section">
    <button class="ui green button">DEPOSIT</button>
    <button class="ui yellow button">WITHDRAW</button>
  </div>




  <div class="section" style="margin-top:30px">
    <h3>Multiply your bitcoins up to 4,750x by playing a PROVABLY FAIR HI-LO game!</h3>
    <p>Set a Bet Amount and click BET HI or BET LO to roll the dice and WIN BTC! Select a Jackpot to win big prizes by rolling 8888!</p>
    <p>Get 1 free lottery ticket and 1 reward points for every 0.00000500 BTC that you wager and 1 free golden ticket for every 0.00500000 BTC that you wager!</p>

    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="manualBet">MANUAL BET</a>
      <a class="item" data-tab="autoBet">AUTO BET</a>
    </div>


    <div class="ui bottom attached tab segment active" data-tab="manualBet">
        <div class="ui stackable three column grid">
          <div class="column leftColumn">
            <div class="ui top attached segment">
              <p>MAX PROFIT PER BET segment is on top</p>
            </div>
            <div class="ui attached segment">
              <p>20 BTC</p>
            </div>

            <div class="ui horizontal segments" style="">
              <div class="ui segment bet-amount">BET AMOUNT</div>
              <div class="ui segment bet-count">/2</div>
              <div class="ui segment bet-count">2x</div>
              <div class="ui segment bet-count">MIN</div>
              <div class="ui segment bet-count">MAX</div>
            </div>
            <div class="ui attached segment">
              <p>0.00000001</p>
            </div>
            <div class="ui left fluid action input" style="margin-top:14px;">
              <button class="large ui button">
                WIN PROFIT
              </button>
              <input type="text" value="0.00000001">
            </div>
            <div class="ui horizontal segments">
              <div class="ui segment">
                <div class="ui top attached segment">
                  <p>
                    BET ODDS
                    <i class="info circular inline icon link" data-content="Enter a value between 1.01 and 4750.00"></i>
                  </p>
                </div>
                <div class="ui attached segment">
                  <div class="ui fluid input">
                    <input type="text" value="6.00" style="text-align: center">
                  </div>
                </div>
              </div>
              <div class="ui segment">
                <div class="ui top attached segment">
                  <p>
                    WIN CHANCE
                    <i class="info circular inline icon link" data-content="Enter a value between 0.02 and 94.06"></i>
                  </p>
                </div>
                <div class="ui attached segment">
                  <div class="ui fluid input">
                    <input type="text" value="15.83%" style="text-align: center">
                  </div>
                </div>
              </div>
            </div>
            <div class="ui checkbox">
              <input type="checkbox" name="example">
              <label>ENABLE SOUNDS</label>
              <h4>KEYBOARD SHORTCUTS</h4>
            </div>
          </div>


          <div class="column centerColumn">dsds</div>



          <div class="column rightColumn">
            <h3>PLAY FOR JACKPOTS</h3>
            <p>Roll number 8888 to win the jackpots!</p>
            <table class="ui celled table center aligned">
              <thead>
              <tr>
                <th>SELECT</th>
                <th>PRICE(BTC)</th>
                <th>COST(BTC)</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td data-label="Name">
                  <input type="checkbox" tabindex="0" class="hidden">
                </td>
                <td data-label="Age">1.00000000</td>
                <td data-label="Job">0.00012500</td>
              </tr>
              <tr>
                <td data-label="Name">
                  <input type="checkbox" tabindex="0" class="hidden">
                </td>
                <td data-label="Age">0.10000000</td>
                <td data-label="Job">0.00001250</td>
              </tr>
              <tr>
                <td data-label="Name">
                  <input type="checkbox" tabindex="0" class="hidden">
                </td>
                <td data-label="Age">0.01000000</td>
                <td data-label="Job">0.00000125</td>
              </tr>
              <tr>
                <td data-label="Name">
                  <input type="checkbox" tabindex="0" class="hidden">
                </td>
                <td data-label="Age">0.00100000</td>
                <td data-label="Job">0.00000013</td>
              </tr>
              <tr>
                <td data-label="Name">
                  <input type="checkbox" tabindex="0" class="hidden">
                </td>
                <td data-label="Age">0.00010000</td>
                <td data-label="Job">0.00000002</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
    </div>


    <div class="ui bottom attached tab segment" data-tab="autoBet">
      autoBet
    </div>
  </div>

  <div class="section">
    <div class="ui warning message">
      <div class="content">
        <p>Bet on the latest events and win big prizes!</p>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section">
      <div class="personal_stats">
        <div class="table-thead ui top attached message">
          ROLL HISTORY
        </div>

        <div class="ui attached segment">
          DATE: 18/08/2020
        </div>

        <table class="ui bottom attached celled table center aligned">
          <thead>
          <tr>
            <th>TIME</th>
            <th>GAME</th>
            <th>BET</th>
            <th>ROLL</th>
            <th>STAKE</th>
            <th>MULT</th>
            <th>PROFIT</th>
            <th>JPOT</th>
            <th>VER</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td data-label="Name">19:56:40</td>
            <td data-label="Age">DICE</td>
            <td data-label="Job">LO</td>
            <td data-label="Job">477</td>
            <td data-label="Job">0.00000001</td>
            <td data-label="Job">2.00</td>
            <td data-label="Job">0.00000001</td>
            <td data-label="Job"><i class="ui close icon"></i></td>
            <td data-label="Job">CLICK</td>
          </tr>

          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
</body>
