<body>
<%- partial ('../pages/partials/menu_with_login.ejs') %>

<div id="referral-page" class="container">
  <div class="section">
    <button class="ui green button">DEPOSIT</button>
    <button class="ui yellow button">WITHDRAW</button>
  </div>

  <div class="section" style="margin:30px 0">
    <h4>You can earn generous commissions from us by referring users to freeilu.com!</h4>
    <p>We pay referral commissions according to the table below.</p>
    </div>

  <div class="section">
    <div style="max-width:600px;margin:20px auto">
      <div class="referral-commission ui top attached message" style="background:#54c8ff;color:#fff">
        REFERRAL COMMISSION RATES
      </div>
        <table class="ui celled bottom attached center aligned table">
          <tbody>
          <tr>
            <td data-label="Name">FREE BTC</td>
            <td data-label="Age">50% of base prize</td>
          </tr>
          <tr>
            <td data-label="Age">MULTIPLY BTC / BETTING</td>
            <td data-label="Job">0.40% of wager / bet</td>
          </tr>
          <tr>
            <td data-label="Age">EARN BTC</td>
            <td data-label="Job">25% of daily interest</td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="section">
    <h4>We also give you 1 free lottery ticket and 1 reward points for every FREE BTC roll your referrals play!</h4>
    <p>Simply promote your referral URL or share it with your friends, and anybody who signs up using it will be automatically registered as your referral and you will earn commissions whenever they use the website!</p>
  </div>


  <div class="section">
    <div class="personal_stats" style="max-width:600px; margin:15px auto">
      <div class="referral-url ui top attached message">
        YOUR REFERRAL URL
      </div>
      <div class="ui bottom attached table center aligned" style="padding:20px">
        <div class="ui form">
          <div class="field">
            <input type="text" value="https://freeilu.com/?r=380588" disabled>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section">
    <div style="max-width:600px;margin:20px auto">
      <div class="referral-banner ui top attached message">
        BANNERS
      </div>
      <table class="ui bottom attached table center aligned">
        <tbody>
        <tr>
          <td style="width:20%;min-width:100px">
            720x168
          </td>
          <td>
            <div class="ui fluid input">
              <input type="text" value="https://static1.freeilu.com/banners/contest_728_90.gif">
            </div>
          </td>
        </tr>
        <tr>
          <td style="width:20%;min-width:100px">
            468 X 60
          </td>
          <td>
            <div class="ui fluid input">
              <input type="text" value="https://static1.freeilu.com/banners/contest_468_60.gif">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="section">
    <div class="personal_stats" style="max-width:600px; margin:15px auto">
      <div class="forum-code ui top attached message">
        FORUM SIGNATURE CODE
      </div>
      <div class="ui bottom attached table center aligned" style="padding:20px">
        <div class="ui form">
          <div class="field">
            <input type="text" value="[center][url=https://freeilu.com/?r=38054219][b][size=15pt][color=red]Win Free Bitcoins every hour! - [/color][color=green]www.freeilu.com[/color][/size][/b][/url][/center]" disabled>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section">
    <p>Your referral commissions are added to your main account balance (at the top right) in real time, as and when you earn them. The numbers below are just for reference and show the commissions that you have accumulated over time.
      Commissions for the MULTIPLY BTC game are only calculated and credited for every 0.00000500 BTC that your referred users wager. If they wager lower amounts, these are recorded in our database but commissions are only credited at increments of 0.00000500 BTC wagered by each individual user.
      Referral statistics are updated hourly.</p>
    <div class="personal_stats" style="max-width:600px; margin:15px auto">
      <div class="total-referral ui top attached message">
        TOTAL REFERRALS
      </div>
      <div class="ui bottom attached table center aligned" style="padding:20px">
        0
      </div>
    </div>
  </div>

  <div class="section">
    <div style="max-width:600px;margin:20px auto">
      <div class="referral-earn ui top attached message" style="background:#54c8ff;color:#fff">
        REFERRAL COMMISSIONS EARNED
      </div>
      <table class="ui celled bottom attached center aligned table">
        <tbody>
        <tr>
          <td data-label="Name">TOTAL</td>
          <td data-label="Age">0.00000000</td>
        </tr>
        <tr>
          <td data-label="Age">RECENT</td>
          <td data-label="Job">0.00000000</td>
        </tr>
        <tr>
          <td data-label="Age">MULTIPLY BTC</td>
          <td data-label="Job">0.00000000</td>
        </tr>
        <tr>
          <td data-label="Age">EARN BTC</td>
          <td data-label="Job">0.00000000</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="section">
    <div style="max-width:600px;margin:20px auto">
      <div class="referral-share ui top attached message" style="background:#54c8ff;color:#fff">
        SHARED WITH YOUR REFERRALS
      </div>

      <table class="ui celled bottom attached center aligned table">
        <tbody>
        <tr>
          <td data-label="Name">TOTAL</td>
          <td data-label="Age">0.00000000</td>
        </tr>
        <tr>
          <td data-label="Age">RECENT</td>
          <td data-label="Job">0.00000000</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="section">
    <h4>SHARE SOME COIN</h4>
    <p>Use this to share some coins with your referrals.</p>
    <h4>Amount to share</h4>
    <form class="ui form">
      <div class="field" style="max-width: 200px;margin:0 auto 15px">
        <div class="ui input">
          <input type="text" value="0.00000001">
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Share amount equally among all referrals</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Share amount based on total referral activity</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden" checked>
          <label>Share amount based on referral activity since last payout</label>
        </div>
      </div>
      <button class="ui primary button" type="submit">SHARE!</button>
    </form>
  </div>

  <div class="section">
    <p style="font-size: 14px">You cannot share more than 100% of the commissions that you have earned from a referral. As a result of this, the amount that is actually shared with your referrals (and deducted from your account) might be less than the amount you specify.</p>
    <button class="ui green button" type="submit">ADVANCED TRACKING USING TAGS</button>
    <h4>DETAILED REFERRAL ACTIVITY</h4>
    <div>10 DAYS - 20 DAYS - 30 DAYS</div>
    <h4>COUNTDOWN TO NEXT PAYOUT</h4>
    <div class="date_count_down" style="width:320px; margin: 0 auto">
      <div class="ui statistics">
        <div class="red statistic">
          <div class="value">20</div>
          <div class="label">Days</div>
        </div>
        <div class="orange statistic">
          <div class="value">8</div>
          <div class="label">Hours</div>
        </div>
        <div class="yellow statistic">
          <div class="value">28</div>
          <div class="label">Minutes</div>
        </div>
        <div class="yellow statistic">
          <div class="value">7</div>
          <div class="label">Seconds</div>
        </div>
      </div>
    </div>
    <h4>AUTO-SHARE</h4>
    <p style="font-size: 13px">(Set auto-share to 0 to disable it)</p>
    <p>Use this to automatically share a percentage of your referral commissions with your referrals every week before payouts are made.</p>
    <h4>Percentage to share</h4>
    <form class="ui form">
      <div class="field" style="max-width: 200px;margin:0 auto 15px">
        <div class="ui input">
          <input type="text" value="0">
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Share amount equally among all referrals</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Share amount based on total referral activity</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden" checked>
          <label>Share amount based on referral activity since last payout</label>
        </div>
      </div>
      <button class="ui primary button" type="submit">SET AUTO-SHARE</button>
    </form>
  </div>

</div>
</body>
