<body id="home-body">
<%- partial ('../pages/partials/menu_no_login.ejs') %>
<div class="container" style="padding:0 30px; background: none">
  <div class="ui stackable two column grid">
    <div class="column">
      <%- partial ('../pages/partials/home.ejs') %>
    </div>
    <div class="column">
      <form class="ui form" method="POST" action="/auth/register">
        <div class="field">
          <label>Email</label>
          <input type="text" name="email" placeholder="Enter email">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="Enter password">
        </div>
        <div class="field">
          <label>Your referrer</label>
          <input type="text" name="referrer" placeholder="Your referrer">
        </div>
        <button class="fluid ui primary button" type="submit">SIGN UP</button>
<!--        <div class="fluid ui submit inverted green button">LOGIN</div>-->
        <div style="margin-top: 30px">
          <a href="#">TERMS OF SERVICE</a>  <span style="color:#CCC"> - </span>  <a href="#">PRIVACY POLICY</a>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
