<body onload="getDashboard()">
<div id="mainAdmin" class="ui grid">
    <%- partial ('menu.ejs') %>

    <div class="thirteen wide column">
        <div id="admin-container">
            <div class="page-statistics">
                <div class="ui grid">
                    <div class="doubling four column row">
                        <div class="column">
                            <div class="ui orange statistic item-statistics user-statistics">
                                <div class="value">
                                    5,550
                                </div>
                                <div class="label">
                                    Users
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui olive statistic item-statistics">
                                <div class="value">
                                    71,230
                                </div>
                                <div class="label">
                                    Golden Tickets
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui yellow statistic item-statistics">
                                <div class="value">
                                    384,839
                                </div>
                                <div class="label">
                                    Lotteries Tickets
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui violet statistic item-statistics">
                                <div class="value">
                                    2,059
                                </div>
                                <div class="label">
                                    Orders
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui grid" style="padding-right: 10px">
                    <div class="ten wide column">
                        <canvas id="lotteryTicketChart"></canvas>
                    </div>
                    <div class="six wide column">
                        <table id="dashboardUserList" class="ui selectable inverted table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>EMAIL</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
