<div class="ui inverted left inline vertical sidebar menu" style="">
    <a class="item" href="/admin/">
        <i class="dashboard icon"></i>
        Dashboard
    </a>
    <a class="item" href="/admin/users">
        <i class="block user icon"></i>
        Users
    </a>
    <a class="item" href="/admin/betting">
        <i class="list icon"></i>
        Betting
    </a>
    <a class="item" href="admin/golden_ticket">
        <i class="money icon"></i>
        Golden Tickets
    </a>
</div>
