<div id="admin-menu" class="three wide column">
<!--    <div class="ui vertical visible menu">-->

<!--    </div>-->
    <div class="ui secondary fluid vertical menu" style="margin:0">
            <div class="item item-logo">ADMIN MENU</div>

        <a class="item" href="/admin/">
            <i class="dashboard icon"></i>
            Dashboard
        </a>
        <a class="item" href="/admin/users">
            <i class="block user icon"></i>
            Users
        </a>
        <a class="item" href="/admin/betting">
            <i class="list icon"></i>
            Betting
        </a>
        <a class="item" href="admin/golden_ticket">
            <i class="gem icon"></i>
            Golden Tickets
        </a>
        <a class="item" href="admin/lottery_ticket">
            <i class="ticket icon"></i>
            Lottery Tickets
        </a>
        <a class="item" href="admin/lottery_ticket">
            <i class="money icon"></i>
            Orders
        </a>
    </div>
</div>
